/* General settings */

/** Hero image container **/

html, body {
    height: 100%;
    margin: 0;
}

.hero-image {
    background-image: url(../images/casserole-dish-2776735.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

/** Headings **/

.hero-heading-pos {
    position: absolute;
    top: 20%;
}

.hero-heading h1,
.hero-heading h2 {
    color: white;
    padding: 15px 0px 15px 0;
}

/** Navigation bar **/

.nav-bg-red {
    background-color: rgba(125, 3, 15, 0.9);
}

/* Home page */

/** Callout link **/

.home-callout-pos {
    position: absolute;
    bottom: 25%;
}

.home-callout-msg {
    color: white;
    background-color: rgba(125, 3, 15, 0.9);
    border-color: rgba(125, 3, 15, 0.9);
}