/* Hero image container */

html, body {
    height: 100%;
    margin: 0;
}

.hero-image {
    background-image: url(../images/casserole-dish-2776735.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

/* General settings */

/** Colors **/

.nav-bg-red {
    background-color: rgba(125, 3, 15, 0.9);
}

/** Positioning **/

.hero-heading-pos {
    position: absolute;
    top: 25%;
}

/** Headings **/

.hero-heading h1,
.hero-heading h2 {
    color: white;
    padding: 15px 0px 15px 0;
}